<mat-card class="example-card">

  <mat-form-field class="example-full-width">
    <input matInput class="search"  [(ngModel)]="searchQuery" placeholder="Search for Images" value="">
  </mat-form-field>
  <br>
  <button mat-raised-button  type="button" (click)="searchImages(searchQuery)" color="primary">Find Images</button>


</mat-card>
<section *ngIf="searching" class="example-section">
  <mat-progress-bar
    mode = "indeterminate" color = 'accent'>
  </mat-progress-bar>
</section>
<mat-card>
<masonry [useImagesLoaded]="true">
  <masonry-brick class="image-container" *ngFor="let image of images">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{image.user}}</mat-card-title>
        <mat-card-subtitle>{{image.tags}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ image.webformatURL }}" alt="">
      <mat-card-content>
        <p>{{image.comments}} COMMENTS</p>
        <p>{{image.likes}} LIKES</p>
      </mat-card-content>
    </mat-card>

  </masonry-brick>
</masonry>
  </mat-card>










<!--
<input type="text" class="search" [(ngModel)]="searchQuery" placeholder="Search for Images">
<button type="button" (click)="searchImages(searchQuery)">Find Images</button>

<p *ngIf="searching">Fetching Data</p>

<div *ngFor="let image of images" class="image-container">
  <img src="{{ image.webformatURL }}" alt="">
  <p> Tags: {{image.tags}}</p>
  <p> Users: {{image.user}}</p>
  <p> Comments: {{image.comments}}</p>
  <p> Likes: {{image.comments}}</p>
</div>-->

