<div class="container">
  <div class="main-content">
    <div class="header">
      <span id="title">{{title}}</span>
      <div class="logo">
        <div id="attribution">All images provided by</div>
        <img class="pixabayLogo" src="../assets/img/logo.png" alt="pixibayLogo">
      </div>
    </div>

    <app-image-list></app-image-list>

  </div>
</div>


